.view-racers-button {
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--Hedar, linear-gradient(180deg, #215196 0%, #093473 100%));
  color: #fff;
  text-align: center;
  font-family: K2D;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
  padding: 25px;
}

.view-racers-button:hover {
  border-radius: 25px;
  border: 4px solid var(--Hedar, #215196);
  background: #fff;
  color: #215196; /* Change the text color on hover */
  font-weight: 300;
}

.view-racers-button:active {
  border-radius: 25px;
  border: 20px solid var(--Hedar, #215196);
  background: #fff;
  font-weight: 800;
}

.view-track-button {
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--HD1, linear-gradient(180deg, #97231e 0%, #ca3f33 100%));
  color: #fff;
  text-align: center;
  font-family: K2D;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease;
}

.view-track-button:hover {
  border-radius: 25px;
  border: 4px solid var(--HD1, #97231e);
  background: #fff;
  color: var(--HD1, #97231e);
  font-weight: 300;
}

.view-track-button:active {
  border-radius: 25px;
  border: 20px solid var(--HD1, #97231e);
  background: #fff;
  font-weight: 800;
}
