/* Footer.css */

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  padding: 20px;
  color: white;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

.footer-text {
  font-family: "K2D-Light";
}
