.main {
  margin: 10px 10px;
}
.button-container {
  display: flex; /* Make the container a flex container */
  justify-content: center;
  align-items: center; /* Center items vertically */
  margin: 10px 10px;
  gap: 50px;
}

.home-image {
  margin: 10px 10px;
  width: 980px;
  height: auto;
  flex-shrink: 0;
  margin: 0 auto; /* Center the image horizontally within the container */
  border-radius: 10px;
}

.image-container {
  display: flex; /* Make the container a flex container */
  justify-content: center;
  align-items: center; /* Center items vertically */
  margin: 0 auto;
}

.sponsors {
  padding: 25px;
  display: grid;
  justify-content: center;
  align-items: center; /* Center items vertically */
  margin: 0 auto;
  width: 1000px;
}

.sponsor-text-large {
  color: #fff;
  text-align: center;
  font-family: K2D;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  font-family: "K2D", sans-serif;
}

.sponsor-text-normal {
  padding: 25px;
  color: #fff;
  text-align: center;
  font-family: K2D;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  font-family: "K2D", sans-serif;
}

.founding-partners-container {
  display: flex; /* Make the container a flex container */
  justify-content: center;
  align-items: center; /* Center items vertically */
  margin: 0 auto;
  height: 120px;
  gap: 75px;
}

.heineken-image {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.presenting-partners-container {
  display: flex; /* Make the container a flex container */
  justify-content: center;
  align-items: center; /* Center items vertically */
  margin: 0 auto;
  gap: 50px;
  height: 120px;
}

@media only screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
    gap: 20px;
  }

  .home-image {
    width: 100%;
    margin: 10px;
    border-radius: 0;
  }

  .sponsors {
    width: 100%;
  }

  .founding-partners-container,
  .presenting-partners-container {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
}
