.mainApp {
  background: linear-gradient(
      rgba(102, 102, 102, 0.5),
      rgba(145, 145, 145, 0.99)
    ),
    url("/track-background.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-shrink: 0;
  position: relative;
}

body,
html {
  height: 100%;
  margin: 0;
}
/* Add sliding background effect */
