.title-and-intro {
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 1000px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main-text-racers {
  color: #fff;
  text-align: center;
  font-family: K2D;
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
  font-family: "K2D", sans-serif;
}

.sub-text-racers {
  color: #fff;
  font-family: K2D;
  font-size: 20px;
  line-height: normal;
  font-family: "K2D", sans-serif;
  padding: 25px;
}

.racers-container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 65px;
  flex-wrap: wrap;
}

.racer {
  width: 500px; /* Adjust the width based on your design */
  height: auto;
  margin: 10px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.racer:hover {
  transform: scale(1.1); /* Enlarge on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Gradual drop shadow */
}

@media only screen and (max-width: 768px) {
  .title-and-intro {
    width: 90%;
  }

  .racers-container {
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
  }

  .racer {
    width: 100%;
  }
}
