/* TrackPage.css */

.page-container {
  padding: 10px;
  margin: 0 auto;
}
.track-container {
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
  text-align: center; /* Center text within the container */
}
.paragraph-container {
  color: white;
  text-align: center;
  margin: 25px auto;
  width: 980px;
}

.track-image {
  width: 980px;
  height: auto;
  flex-shrink: 0;
  margin: 0 auto; /* Center the image horizontally within the container */
  border-radius: 10px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "K2D-Bold", sans-serif;
}

.paragraph-below-image {
  text-align: center;
  width: 980px;
  font-size: 20px;
  font-family: "K2D-Regular", sans-serif;
}

/* LunarSurfaceExploration.css */

.reason-element-container {
  margin-top: 25px;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column;
  width: 980px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  margin-left: auto; /* Auto left margin for centering */
  margin-right: auto; /* Auto right margin for centering */
}

.icon {
  width: 120px;
  height: 120px;
  margin-bottom: 16px; /* Add spacing between the rocket icon and text */
}

.line-break {
  height: 50px;
}

.main-text {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px; /* Add spacing between the main text and sub-text */
  font-family: "K2D-Bold", sans-serif;
}

.sub-text {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "K2D-Regular", sans-serif;
  margin: 10px;
}
